body {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    padding:0px;
    margin:0px;
}

h1 {
    margin: 0em;
}

.container {
    display: grid;
    grid-template-rows: 3.1rem auto;
    grid-template-areas:
    "header"
    "content"
}

.header {
    grid-area: header;
    border-bottom: 1px solid #a5a5a5;
    font-size:2em;
}

.logo {
    width: 35px;
    margin-top: 10px;
    margin-left: 1.3em;
    margin-right: 0.35em;
    float: left;
}

.module_container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    "headerSpace headerSpace addTaskSpace"
    "todoListSpace todoListSpace todoListSpace"
    "todoListSpace todoListSpace todoListSpace"
}

.task_container {
    display: flex;
    align-items: center;
}

.task_checkbox {
    margin-right: 2em;
}

.task {
    font-size: 1.25em;
}

.module_label {
    font-family:Georgia;
    padding-top:5px;
    font-size:1.2em;
    color:#444;
}

.headerSpace {
    grid-area: headerSpace
}

.addTaskSpace {
    grid-area: addTaskSpace
}

.todoListSpace {
    grid-area: todoListSpace
}

.mainImg {  
    object-fit: cover;  
    width: 320px;  
    height: 180px;
}

.button { 
    text-align:center;
    display:block;
    padding: 1em;
}